.formcontrol {
  width: 40% !important;
  border: 1px solid #dddddd;
  padding: 10px;
}

.controlerror {
  border: 1px solid #f20000 !important;
}

.errormessage{
  color: #ec392f;
  margin-bottom: 1%;
}

